
.icon{
	position: absolute;
	top:15%;
	left: 8%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.hamburger{
	width: 42px;
	height: 6px;
	background: #666;
	position:absolute;
	top:15%;
	left: 8%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}

.hamburger:before,
.hamburger:after
{
   content: "";
   position: absolute;
   width: 42px;
   height: 6px;
   background: #666;
   box-shadow: 0 2px 5px rgba(0,0,0,.2);
   transition: .5s;
}

.hamburger:before{
	top:-16px;
}

.hamburger:after{
	top:16px;
}

.icon.active .hamburger{
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before{
	top:0;
	transform: rotate(45deg);
}

.icon.active .hamburger:after{
	top:0;
	transform: rotate(135deg);
}


*{
	margin: 0;
}

header img{
 	position: relative;
 	width:230px;
 	margin-left: 510px;
 	margin-top: 10px;
}

header .fa-bars{
	position: absolute;
	display: inline-block;
	font-size: 180%;
	margin-left: 40px;
	margin-top: 25px;
}

header a{
	color: #666;
}

header a:hover{
	color: #f3c600;
}

header a:active{
	color: #D0A700;
}

.back{  /* contenedor */
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	width: 250px;
	height: 470px;
	position: absolute;
	margin-top: 24px;
	margin-left: 38px;	
	z-index: 2;
	
}

.valentina{
	position: absolute;
	width: 130px;
	height: 130px;
	margin-left: 60px;
	margin-top:15px;
	border-radius: 50% ;
}

span{  /* usuario */
	position: absolute;
	margin-top:170px;
	margin-left: 65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.sede_span{ /* sede */
	position: absolute;
	margin-top:230px;
	margin-left: 65px;
	margin-bottom: 20px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.setting{
	position: absolute;
	margin-top:444px;
	margin-left:65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.fa-user{ /* icono usuario */
	position: absolute;
	font-size: 150%;
	margin-top: 165px;
	margin-left: 35px;
	color: #666;
}

.fa-map-marker{ /* locacion */
	position: absolute;
	font-size: 150%;
	margin-top: 225px;
	margin-left: 35px;
	color: #666;
}

.fa-cog{ /* settings icon*/
	position: absolute;
	font-size: 150%;
	margin-top: 440px;
	margin-left: 35px;
	color: #666;
}

span:hover , .sede_span:hover , .setting:hover{
	color: #f3c600;
	cursor: pointer;
}

span:active , .sede_span:active , .setting:active{
  color: #D0A700;
  border-style:none;
  transform: translateY(0.7px);
}

.lima{
	position: absolute;
	margin-top:390px;
	margin-left: -620px;
	font-weight: 300;
	font-size: 100%;
	z-index: 2;
}

.aqp{
	position: absolute;
	margin-top:430px;
	margin-left: -620px;
	font-size: 100%;
	z-index: 2;
}

.stg{
	position: absolute;
	margin-top:470px;
	margin-left:-620px;
	font-size: 100%;
	z-index: 2;
}

.mex{
	position: absolute;
	margin-top:510px;
	margin-left: -620px;
	font-size: 100%;
	z-index: 2;
}

nav .fa-bars{
	margin-left:-660px;
}

/*AQUI EMPIEZA LA PAGINA DE LAS ESTUDIANTES*/

body{/* COLOR GRIS MUY TENUE fondo */
	background: whitesmoke;  
}

.barraSup{/* franja gris */
	background: gainsboro;  /* COLOR GRIS MAS OSCURO */
	height: 130px;
	width: 100%;
	margin-top: 25px;
	position: absolute;
	text-align: center;
}

.naveg h2{ /*titulo stgo de chile */
	font-size: 150%;
	font-family: Lato;
	font-weight: 700;
	color: #555;
	margin-top: 30px;
	width: 1301px;
}

.listanav{ /* lista navegacion */
	margin-left:340px;
	margin-top: 17px;
}

.listanav .over{   /* ENLACE A LA INFORMACION GENERAL- TODAS LAS SEDES- TODOS LOS TURNO- TODAS LAS GENERACIONES */
	/*background: red;*/
	color: orange;
	float: left;
	font-size: 110%;
	font-family: Lato;
	font-weight: 600;
	margin-left: 50px;
	margin-right: 25px;
	text-decoration: none;
}

.listanav .stud{   /* ENLACE A LA INFORMACION DE LAS ALUMNAS */
	/*background: blue;*/
	color: orange;
	float: left;
	font-size: 110%;
	font-weight: 600;
	font-family: Lato;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	
}

.listanav .teac{   /* ENLACE AL AREA DE PROFESORES */
	/*background: green;*/
	color: orange;
	float: left;
	font-size: 110%;
	font-family: Lato;
	font-weight: 600;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;	
}

.menu{   /* borde MENU DE ESPECIALIZACIONES */   
	background: white;
	border: 2px solid orange;
	width: 320px;
	height: 300px;
	margin-top: 210px;
	margin-left: 20px;
	position: absolute;
	font-family: Lato;
}

.menu h1{  /* TITULO  ESPECIALIZACION */
	color: orange;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 160%; /* nuevo */
	margin-top: 35px;
	margin-bottom: 15px;	
}

.men{  /* LISTA DE ESPECIALIDADES */
	color: orange;
	padding-top: 15px;
	padding-left:10px;
	width: 220px;
	height: 25px;
	list-style: none;
	font-family: Lato;
	font-size: 120%;
	padding: 10px;
	
}

.men:hover{ /* menu*/
	color: white;
	background-color: orange;
	font-family: Lato;
	
}

.study{   /*contenedor*/
	background-color: orange;
	/*border: 1.4px solid orange;*/
	box-shadow: 3px 3px 9px rgba(0,0,0,.3);
	color: black;
	width: 800px;
	height: 300px;
	font-family: Lato;
	position: absolute;
	margin-left: 400px;
	margin-top: 210px;	
		
}

.study1{ /* estudiante dos */
	background-color: orange;
	/*border: 1.4px solid orange;*/
	box-shadow: 3px 3px 9px rgba(0,0,0,.3);
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	margin-top: 540px; 
	
}

.study2{ /* estudiante tres */
	background-color: orange;
	/*border: 1.4px solid orange;*/
	box-shadow: 3px 3px 9px rgba(0,0,0,.3);
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	margin-top: 875px;
	
	
}
.study3{ /* estudiante cuatro */
	background-color: orange;
	/*border: 1.4px solid orange;*/
	box-shadow: 3px 3px 9px rgba(0,0,0,.3);
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	margin-top: 1215px;
}

h3{ /*nombre alumnas */
	font-size: 148%;
	font-family: Lato;
	font-weight: 700;
	margin-top: 25px;

	/*color: #555; */
	color: #000;

}

h4{ /* subtitulo front end */
	/*color: #444;*/
	color: #000;
	font-size: 95%;
	font-width: 900;
	font-family: Lato;
	margin-top: 18px;
	
}

.datos{ /* que es ?? */
	position: absolute;
	margin-left: 250px;
	top: 0px;
	font-family: 'Lato', sans-serif;
	height: 260px;
	width: 500px;
}

.foto{
	width: 200px;
	height: 300px;
}

.habilis{
	/*background: yellow;*/
	width: 450px;
	height: 100px;
	margin-top: 15px;
	
}

.tech{			/*  MUESTRA EL PORCENTAJE DE HABILIDADES TECNICAS */
	text-align: center;
	width: 120px;
	height: 80px;
	font-size: 105%;
	font-family: Lato;
	font-weight: 400;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}

.tech:hover{
	color: white;
}

.habilis span{ /* span valores y nivel de ingles */
 	font-size: 110%;
	font-weight: 900;
	margin-top: 22px;
	margin-left: -43px;
}

.habilis span:hover{
	color: white;
}

.eng span{ /* english */
	margin-left: -60px;
}

.eng .alto{ /* high */

	margin-left: -48px;
}
    
.soc{ /* MUESTRA EL PORCENTAJE DE HABILIDADES SOCIALES */
	text-align: center;
	width: 100px;
	height: 80px;
	font-size: 105%;
	font-family: Lato;
	font-weight: 400;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
}

.soc:hover{
	color: white;
}

.eng{			/* MUESTRA EL MANEJO DE IDIOMA INGLÉS */

	text-align: center;
	width: 120px;
	height: 80px;
	font-size: 105%;
	font-family: Lato;	
	font-weight: 400;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}

.eng:hover{
	color: white;
}

.proa , .squa ,.best{ /* iconos premios */
	/*background: red;*/
	color: white;
	margin-right: 15px;
	margin-left: 30px;
	width: 60px;
	height: 60px;
	top: -10;
}

/*
.proa , .squa , .best:hover{
	color:blue;

} 
*/