header img{
 	position: relative;
 	width:230px;
 	margin-left: 510px;
}



header .fa-bars{
	position: absolute;
	display: inline-block;
	font-size: 180%;
	margin-left: 40px;
	margin-top: 25px;
}

header a{
	color: #666;
}

header a:hover{
	color: #f3c600;
}

header a:active{
	color: #D0A700;
}

.back{  /* contenedor */
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	width: 250px;
	height: 470px;
	position: absolute;
	margin-top: 70px;
	margin-left: 38px;	
}
.valentina{
	position: absolute;
	width: 130px;
	height: 130px;
	margin-left: 60px;
	margin-top:15px;
	border-radius: 50% ;

}
span{  /* usuario */
	position: absolute;
	margin-top:170px;
	margin-left: 65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;

}

.sede_span{ /* sede */
	position: absolute;
	margin-top:230px;
	margin-left: 65px;
	margin-bottom: 20px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.setting{
	position: absolute;
	margin-top:444px;
	margin-left:65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.fa-user{ /* icono usuario */
	position: absolute;
	font-size: 150%;
	margin-top: 165px;
	margin-left: 35px;
	color: #666;
}
.fa-map-marker{ /* locacion */
	position: absolute;
	font-size: 150%;
	margin-top: 225px;
	margin-left: 35px;
	color: #666;
}

.fa-cog{ /* settings icon*/
	position: absolute;
	font-size: 150%;
	margin-top: 440px;
	margin-left: 35px;
	color: #666;
}


span:hover , .sede_span:hover , .setting:hover{
	color: #f3c600;
	cursor: pointer;
}

span:active , .sede_span:active , .setting:active{
  color: #D0A700;
  border-style:none;
  transform: translateY(0.7px);
}

.lima{
	position: absolute;
	margin-top:350px;
	margin-left: 95px;
	font-weight: 300;
	font-size: 100%;
}

.aqp{
	position: absolute;
	margin-top:390px;
	margin-left: 95px;
	font-size: 100%;

}

.stg{
	position: absolute;
	margin-top:430px;
	margin-left: 95px;
	font-size: 100%;

}

.mex{
	position: absolute;
	margin-top:470px;
	margin-left: 95px;
	font-size: 100%;
}

nav .fa-bars{
	margin-left:-660px;
}

/*AQUI EMPIEZA LA PAGINA DE LAS ESTUDIANTES*/
body{
	background: whitesmoke;  /* COLOR GRIS MUY TENUE */
}

#logo{
	width:160px;
	height:70px;
	text-align: center;
	margin-left: 500px;
}
#barraSup{
	background: gainsboro;  /* COLOR GRIS MAS OSCURO */
	height: 150px;
	width: 100%;
	position: absolute;
	text-align: center;
}

#listanav{
	list-style: none;
	text-align: center;
	float: left;	
}
#over{   /* ENLACE A LA INFORMACION GENERAL- TODAS LAS SEDES- TODOS LOS TURNO- TODAS LAS GENERACIONES */
	/*background: red;*/
	color: orange;
	float: left;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-left: 50px;
	margin-right: 25px;
	text-decoration: none;
}
#stud{   /* ENLACE A LA INFORMACION DE LAS ALUMNAS */
	/*background: blue;*/
	color: orange;
	float: left;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	
}
#teac{   /* ENLACE AL AREA DE PROFESORES */
	/*background: green;*/
	color: orange;
	float: left;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	
}

h1{  /* TITULO  ESPECIALIZACION */
	color: orange;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
h1:hover{
	color: black;
	
}
#menu{    /* MENU DE ESPECIALIZACIONES */
	background: white;
	border: 3px solid orange;
	width: 320px;
	height: 350px;
	top: 250px;
	margin-left: 20px;
	position: absolute;
	font-family: 'Lato', sans-serif;
}
#men{  /* LISTA DE ESPECIALIDADES */
	color: orange;
	padding-top: 15px;
	padding-left:10px;
	width: 220px;
	height: 35px;
	list-style: none;
	font-family: 'Lato', sans-serif;
}
#men:hover{
	color: white;
	background: orange;
	font-family: 'Lato', sans-serif;
	
}

#study{   /* MARIA ALVAREZ*/
	background: orange;
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	top: 250px;
	
	
}
#study1{
	background: orange;
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	top: 610px;
}
#study2{
	background: orange;
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	top: 960px;
}
#study3{
	background: orange;
	color: black;
	width: 800px;
	height: 300px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	margin-left: 400px;
	top: 1310px;
}
h2{
	font-size: 30px;
	font-width: 700;
	font-family: 'Lato', sans-serif;
}
h3{
	color: #444;
	font-size: 17px;
	font-width: 700;
	font-family: 'Lato', sans-serif	
}
#datos{
	position: absolute;
	margin-left: 250px;
	top: 0px;
	font-family: 'Lato', sans-serif;
	height: 260px;
	width: 500px;
	
}

#foto{
	width: 200px;
	height: 300px;
	
}
#habilis{
	/*background: yellow;*/
	width: 450px;
	height: 100px;
	top: 0;
	
}
#tech{			/*  MUESTRA EL PORCENTAJE DE HABILIDADES TECNICAS */
	text-align: center;
	width: 120px;
	height: 80px;
	font-size: 20px;
	font-family: 'Lato', sans-serif	
	font-weight: bolder;
	float: left;
	margin-left: 5px;
	
}
#tech:hover{
	color: white;
}
    
#soc{			/* MUESTRA EL PORCENTAJE DE HABILIDADES SOCIALES */
	
	text-align: center;
	width: 100px;
	height: 80px;
	font-size: 20px;
	font-family: 'Lato', sans-serif	
	font-weight: bolder;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
}
#soc:hover{
	color: white;
}
    
#eng{			/* MUESTRA EL MANEJO DE IDIOMA INGLÉS */

	text-align: center;
	width: 120px;
	height: 80px;
	font-size: 20px;
	font-family: 'Lato', sans-serif	
	font-weight: bolder;
	float: left;
	margin-right: 5px;
}
#eng:hover{
	color: white;
}
#proa, #squa, #best{
	/*background: red;*/
	color: white;
	margin-right: 15px;
	margin-left: 30px;
	width: 60px;
	height: 60px;
	top: -10;
}
#proa, #squa, #best:hover{
	color:blue;

}