header img{
 	position: relative;
 	width:230px;
 	margin-left: 510px;
}


header .fa-bars{
	position: absolute;
	display: inline-block;
	font-size: 180%;
	margin-left: 40px;
	margin-top: 25px;
}

header a{
	color: #666;
}

header a:hover{
	color: #f3c600;
}

header a:active{
	color: #D0A700;
}

.back{  /* contenedor */
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	width: 250px;
	height: 470px;
	position: absolute;
	margin-top: 70px;
	margin-left: 38px;	
}
.valentina{
	position: absolute;
	width: 130px;
	height: 130px;
	margin-left: 60px;
	margin-top:15px;
	border-radius: 50% ;

}
span{  /* usuario */
	position: absolute;
	margin-top:170px;
	margin-left: 65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;

}

.sede_span{ /* sede */
	position: absolute;
	margin-top:230px;
	margin-left: 65px;
	margin-bottom: 20px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.setting{
	position: absolute;
	margin-top:444px;
	margin-left:65px;
	font-family: Lato;
	font-weight: 300;
	font-size: 90%;
}

.fa-user{ /* icono usuario */
	position: absolute;
	font-size: 150%;
	margin-top: 165px;
	margin-left: 35px;
	color: #666;
}
.fa-map-marker{ /* locacion */
	position: absolute;
	font-size: 150%;
	margin-top: 225px;
	margin-left: 35px;
	color: #666;
}

.fa-cog{ /* settings icon*/
	position: absolute;
	font-size: 150%;
	margin-top: 440px;
	margin-left: 35px;
	color: #666;
}


span:hover , .sede_span:hover , .setting:hover{
	color: #f3c600;
	cursor: pointer;
}

span:active , .sede_span:active , .setting:active{
  color: #D0A700;
  border-style:none;
  transform: translateY(0.7px);
}

.lima{
	position: absolute;
	margin-top:350px;
	margin-left: 95px;
	font-weight: 300;
	font-size: 100%;
}

.aqp{
	position: absolute;
	margin-top:390px;
	margin-left: 95px;
	font-size: 100%;

}

.stg{
	position: absolute;
	margin-top:430px;
	margin-left: 95px;
	font-size: 100%;

}

.mex{
	position: absolute;
	margin-top:470px;
	margin-left: 95px;
	font-size: 100%;

}